<div class="container">
<h1>プロフィール編集</h1>
  <%= form_with model: @user do |f| %>
  <div class="enclosure_box>

        <form>
          <div class="content_parts">
            <div class="border-bottom">
              <div class="form-group row">
              <label class="col-lg-3 for="name">ユーザー名</label>
              <div class="col-lg-9">
                <%= f.text_field :name, class: "form-control", placeholder: "ユーザー名を入力" %>
              </div>
              </div>
            </div>
          </div>

          <div class="content_parts">
            <div class="border-bottom">
              <div class="form-group row">
              <label class="col-lg-3 for="email">メールアドレス</label>
              <div class="col-lg-9">
                <%= f.text_field :email, class: "form-control", placeholder: "メールアドレスを入力" %>
              </div>
              </div>
            </div>
          </div>

          <div class="content_parts">
            <div class="border-bottom">
              <div class="form-group row">
              <label class="col-lg-3 for="comment">自己紹介</label>
              <div class="col-lg-9">
                <%= f.text_field :comment, class: "form-control", placeholder: "自己紹介を入力" %>
              </div>
              </div>
            </div>
          </div>

          <div class="content_parts">
            <div class="border-bottom">
              <div class="form-group row">
              <label class="col-lg-3 for="avatar">プロフィール画像</label>
              <div class="col-lg-9">
                <%= f.file_field :avatar, class: "form-control", placeholder: "プロフィール画像" %>
              </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.submit "登録する", class: "btn btn-primary" %>
          </div>
        
        </form>
        </div>
  <% end %>
</div>
