<h1>プロフィール編集</h1>
<%= form_with model: @user do |form| %>
<dl>
 <dt><%= form.label:name,"ユーザー名" %></dt>
 <dd><%= form.text_field :name %></dd> 

 <dt><%= form.label:email,"メールアドレス" %></dt>
 <dd><%= form.text_field :email %></dd> 

 <dt><%= form.label:comment,"自己紹介" %></dt>
 <dd><%= form.text_field :comment %></dd> 
  
 <dt><%= form.label:avatar,"プロフィール画像" %></dt>
 <dd><%= form.file_field :avatar %></dd> 
  
 <div><%= form.submit "保存" %></div>
</dl>
<% end %>
