<h1>about me</h1>

<h3>ユーザー名</h3>
<%= @user.name %>

<h3>メールアドレス</h3>
<%= @user.email %>

<h3>自己紹介</h3>
<% if @user.comment? %>
<%= @user.comment %>
<% end %>

<h3>画像</h3>
<% if @user.avatar? %>
<%= image_tag @user.avatar.url %>
<% end %>

 <%= link_to "プロフィール編集", edit_user_path(current_user) %>
