<h1>予約変更確認画面</h1>

<table>

  <tr>
    <th>開始日</th>
    <th>終了日</th>
    <th>合計人数</th>
    <th>合計金額</th>
  </tr>

<%= form_with model: @roomreservation,  url: {action: 'update'} do |f| %>

  <tr>
    <td><%= @roomreservation.start_date.strftime("%Y/%m/%d") %></td>
    <td><%= @roomreservation.end_date.strftime("%Y/%m/%d") %></td>
    <td><%= roomreservation.person_num :person_num %></td>
    <%# <td><%= @total_price %></td> %>
  </tr>
</table>

<%= f.hidden_field :start_date, value: @roomreservation.start_date %>
<%= f.hidden_field :end_date, value: @roomreservation.end_date %>
<%= f.hidden_field :person_num, value: @roomreservation.person_num %>
<%= f.hidden_field :user_id, value: @users %>
<%= f.hidden_field :room_id, value: @roomreservation.room_id %>
<%= f.hidden_field :room_name, value: @roomreservation.room_name %>
<%= f.hidden_field :comment, value: @roomreservation.comment %>
<%= f.hidden_field :room_image, value: @roomreservation.room_image %>

<%= f.submit "予約完了する"%>

<% end %>


<%# url: {action: 'create'} %>