<h1>予約編集画面</h1>

<%= form_with model: [@room, @roomreservation],  url: {action: 'update'} do |f| %>
<tr>
<th><%= f.label:start_date,"開始日" %></th>
<td><%= f.datetime_field:start_date %></td>
</tr>

<tr>
<th><%= f.label:end_date,"終了日" %></th>
<td><%= f.datetime_field:end_date %></td>
</tr>

<tr>
<th><%= f.label:person_num,"人数" %></th>
<td><%= f.number_field:person_num %></td>
</tr>

<%= f.hidden_field :user_id, value: @users %>
<%= f.hidden_field :room_id, value: @room.id %>
<%= f.hidden_field :room_name, value: @room.room_name %>
<%= f.hidden_field :comment, value: @room.comment %>
<%= f.hidden_field :room_image, value: @room.room_image %>
<%= f.hidden_field :price, value: @roomreservation.price %>
<%= f.hidden_field :total_price, value: @total_price %>


<%= f.submit "登録"%>

<% end %>