<div class="container">
  <h1>予約済みルーム一覧</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ルーム画像</th>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>合計料金</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>予約確定日時</th>
          <th>予約変更</th>
          <th>キャンセル</th>
        </tr>
      </thead>
      <tbody>
      <% @roomreservations.each do |roomreservation| %>

        <tr class="contentbox">
          <td><%= image_tag roomreservation.room_image, size: '200x100' %></td>
          <td class="centercomponents"><%= link_to roomreservation.room_name, room_path(roomreservation.room_id) %></td>
          <td class="centercomponents"><%= roomreservation.comment %></td>
          <td class="centercomponents"><%= roomreservation.total_price %>円</td>
          <td class="centercomponents"><%= roomreservation.start_date.strftime("%Y/%m/%d") %></td>
          <td class="centercomponents"><%= roomreservation.end_date.strftime("%Y/%m/%d") %></td>
          <td class="centercomponents"><%= roomreservation.created_at.strftime("%Y/%m/%d") %></td>
          <td class="centercomponents"><%= link_to"予約変更",edit_room_roomreservation_path(roomreservation.room_id, roomreservation.id) %></td>
          <td class="centercomponents"><%= button_to "キャンセル",room_roomreservation_path(roomreservation.room_id, roomreservation.id), method: :delete, data: { confirm: "本当にキャンセルしますか？" } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
