<%= form_for[@room, @room.roomreservations.new] do |f| %>
<%= f.hidden_field :room_id, value: @room.id %>

<tr>
<th><%= f.label:start_date,"開始日" %></th>
<td><%= f.datetime_field:start_date %></td>
</tr>

<tr>
<th><%= f.label:end_date,"終了日" %></th>
<td><%= f.datetime_field:end_date %></td>
</tr>

<tr>
<th><%= f.label:person_num,"人数" %></th>
<td><%= f.number_field:person_num %></td>
</tr>

<%= f.submit "登録"%>

<% end %>