<div class="container">
  <%= form_with model: @room do |f| %>
  <div class="enclosure_box>
    <div class="border-bottom">
      <h1>ルーム情報編集</h1>
      <%= render "shared/error", obj: @room %>
    </div>

    <form>
      <div class="content_parts">
        <div class="border-bottom">
          <div class="form-group row">
          <label class="col-lg-3 for="room_name"><div class="for_mark">ルーム名</div></label>
          <div class="col-lg-9">
            <%= f.text_field :room_name, class: "form-control", placeholder: "ルーム名を入力" %>
          </div>
          </div>
        </div>
      </div>

      <div class="content_parts">
        <div class="border-bottom">
          <div class="form-group row">
          <label class="col-lg-3 for="room_name"><div class="for_mark">ルーム紹介</div></label>
          <div class="col-lg-9">
            <%= f.text_field :comment, class: "form-control", placeholder: "ルーム説明を入力" %>
          </div>
          </div>
        </div>
      </div>

      <div class="content_parts">
        <div class="border-bottom">
          <div class="form-group row">
          <label class="col-lg-3 for="room_name"><div class="for_mark">料金</div></label>
          <div class="col-lg-9">
            <%= f.number_field :price, class: "form-control", placeholder: "一日あたりの料金を入力" %>
          </div>
          </div>
        </div>
      </div>

      <div class="content_parts">
        <div class="border-bottom">
          <div class="form-group row">
          <label class="col-lg-3 for="room_name"><div class="for_mark">住所</div></label>
          <div class="col-lg-9">
            <%= f.text_field :address, class: "form-control", placeholder: "住所を入力" %>
          </div> 
          </div> 
        </div>
      </div>

      <div class="content_parts">
        <div class="border-bottom">
          <div class="form-group row">
          <label class="col-lg-3 for="room_name"><div class="for_mark">ルーム画像</div></label>
          <div class="col-lg-9">
            <%= f.file_field :room_image, class: "form-control-file", placeholder: "ルーム画像" %>
          </div> 
          </div> 
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "登録する", class: "btn btn-primary" %>
      </div>
      
    </form>
  </div>
  <% end %>
</div>