

<div class="container-fluid">
<h1>登録済みルーム一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th>ルーム画像</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>料金</th>
      <th>作成日</th>
      <th>予約</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
  <% @rooms.each do |room| %>
  <div class="row">
    <tr class="contentbox">
      <div class="col-5 col-xg-5"><td><%= image_tag room.room_image.url, size: '300x200' %></td></div>
      <div class="col-1 col-xg-1"><td class="centercomponents"><%= room.room_name %></td></div>
      <div class="col-1 col-xg-1"><td class="centercomponents"><%= room.comment %></td></div>
      <div class="col-1 col-xg-1"><td class="centercomponents"><%= room.price %>円</td></div>
      <div class="col-1 col-xg-1"><td class="centercomponents"><%= room.created_at.strftime("%Y/%m/%d") %></td></div>
      <div class="col-1 col-xg-1"><td class="centercomponents"><%= link_to"予約する",room %></td></div>
      <div class="col-1 col-xg-1"><td class="centercomponents"><%= link_to"編集する",edit_room_path(room.id) %></td></div>
      <div class="col-1 col-xg-1"><td class="centercomponents"><%= button_to"削除する", room_path(room.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></td></div>
    </tr>
  </div>
    <% end %>
  </tbody>
</table>
</div>

