
<%= form_with model: @room do |f| %>

<dl>
 <p>ルーム情報登録</p> 

 <div class = room_content>
  <dt><%= f.label:room_name,"ルーム名" %></dt>
  <dd><%= f.text_field:room_name, placeholder:"ルーム名を入力" %></dd>
 </div>

 <div class = room_content>
  <dt><%= f.label:comment,"ルーム紹介" %></dt>
  <dd><%= f.text_field:comment, placeholder:"ルーム説明を入力" %></dd>
 </div>

 <div class = room_content>
  <dt><%= f.label:price,"料金" %></dt>
  <dd><%= f.number_field:price, placeholder:"一日あたりの料金を入力" %></dd>
 </div>

 <div class = room_content>
  <dt><%= f.label:address,"住所" %></dt>
  <dd><%= f.text_field:address, placeholder:"住所を入力" %></dd>
 </div>

 <div class = room_content>
  <dt><%= f.label:room_image,"ルーム画像" %></dt>
  <dd><%= f.file_field:room_image %></dd>
 </div>

 <div class = "submission">
  <%= f.submit "登録"%>
 </div>
</dl>
<% end %>