<div class="container">
  <h1>検索結果:<%= @rooms.count %>件</h1> 
    <table class="table">
      <thead>
        <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>住所</th>
        <th>料金</th>
        <th>作成日</th>
        <th>予約</th>
        <th>編集</th>
        <th>削除</th>
        </tr>
      </thead>

      <tbody>
        <% @rooms.each do |room| %>
          <tr class="contentbox">
            <td class="centercomponents"><%= image_tag room.room_image.url, size: '200x100' %></td>
            <td class="centercomponents"><%= room.room_name %></td>
            <td class="centercomponents"><%= room.comment %></td>
            <td class="centercomponents"><%= room.address %></td>
            <td class="centercomponents"><%= room.price %>円</td>
            <td class="centercomponents"><%= room.created_at.strftime("%Y/%m/%d") %></td>
            <td class="centercomponents"><%= link_to"予約する",room %></td>
            <td class="centercomponents"><%= link_to"編集する",edit_room_path(room.id) %></td>
            <td class="centercomponents"><%= link_to"削除する", room_path(room.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></td> 
          </tr>
        <% end %>
      </tbody> 
  </table>
</div>
