
<div class="container">
<h1>ルーム詳細</h1>
    <table class="table">
      <tr>
        <th>ルーム名</th>
        <td><%= @room.room_name %></td>
      </tr>
      <tr>
        <th>ルーム紹介</th>
        <td><%= @room.comment %></td>
      </tr>
      <tr>
        <th>料金</th>
        <td><%= @room.price %>円</td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @room.address %></td>
      </tr>
      <tr>
        <th>イメージ画像</th>
        <td><%= image_tag @room.room_image.url, size: '300x200' %></td>
      </tr>
    </table>
    <div class="row">
    <div class="col-4 col-xg-4"><div class="btn btn-outline-primary", type="button"><%= link_to"予約する", new_room_roomreservation_path(@room) %></div></div>
    <div class="col-4 col-xg-4"><div class="btn btn-outline-primary"><%= link_to"登録済み一覧に戻る", rooms_path %></div></div>
    <div class="col-4 col-xg-4"><%= button_to"削除する", room_path(@room), method: :delete, data: { confirm: "本当に削除しますか？" } %></div>
    </div>
</div>

   

    





    
 
   