
<div class="container-fluid">
<h3>About RooM</h3>
    <table class="table">
      <tr>
        <th>RooM Name</th>
        <td><%= @room.room_name %></td>
      </tr>
      <tr>
        <th>Comment</th>
        <td><%= @room.comment %></td>
      </tr>
      <tr>
        <th>Price/day</th>
        <td><%= @room.price %>円</td>
      </tr>
      <tr>
        <th>At</th>
        <td><%= @room.address %></td>
      </tr>
      <tr>
        <th>Image</th>
        <td><%= image_tag @room.room_image.url, size: '300x200' %></td>
      </tr>
      <tr>
        <th>投稿者ID</th>
        <td><%= @room.user_id %></td>
      </tr>
    </table>
    <div class="row">
    <div class="col-2 col-xg-2"><div class="btn btn-primary", type="button"><%= link_to"予約する", new_room_roomreservation_path(@room) %></div></div>
    <div class="col-2 col-xg-2"><div class="btn btn-danger"><%= link_to"登録済み一覧に戻る", rooms_path %></div></div>
    <div class="col-2 col-xg-2"><%= button_to"削除する", room_path(@room), method: :delete, data: { confirm: "本当に削除しますか？" } %></div>
    </div>
</div>

   

    





    
 
   