<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "parents_header">
      <% if user_signed_in? %>
       <h1 class = title><%= link_to "Pote Share", :reservations_index%></h1>
       <button class = "registration_rooms"><%= link_to "ルーム登録", new_room_path %></button> 
       <button class = "registration_rooms"><%= link_to "予約済みルーム一覧",  roomreservations_index_path %></button>
       <button class = "registration_rooms"><%= link_to "登録済みルーム一覧", rooms_path %></button>
       <button class = "registration_rooms"><%= link_to "自分が登録したルーム一覧", rooms_path %></button>
       <button class = "registration_rooms"><%= link_to "アカウント情報", mypage_path %></button>
       <button class = "logout"><%= link_to "ログアウト", :destroy_user_session %></button>  
      <% else %>
       <h1 class = title><%= link_to "Pote Share", :reservations_index%></h1>
       <button class = "registration"><%= link_to "登録する", :new_user_registration %></button>
       <button class = "login"><%= link_to "ログイン", :user_session %></button>
      <% end %>
    </header>
    <main>

    </main>
    <footer>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </footer>
    <%= yield %>
  </body>
</html>
